<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Writing Clean & Performant Code with Control Flow in Angular</span>
    <span class="navigation-spacer"></span>
    <button
      [matMenuTriggerFor]="menu"
      mat-icon-button
      class="navigation-menu"
      aria-label="Navigation Menu!"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/directive/if']">If</button>
    <button mat-menu-item [routerLink]="['/directive/if-else']">If Else</button>
  </mat-menu>
</mat-toolbar>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
