<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      [matMenuTriggerFor]="menu"
      mat-icon-button
      class="navigation-menu"
      aria-label="Navigation Menu!"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Writing Clean & Performant Code with Control Flow in Angular</span>
    <span class="navigation-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="menuDirective">Directive</button>
  <button mat-menu-item [matMenuTriggerFor]="menuControlFlow">Control Flow</button>
</mat-menu>

<mat-menu #menuDirective="matMenu">
  <button mat-menu-item [routerLink]="['/directive/if']">If Condition</button>
  <button mat-menu-item [routerLink]="['/directive/switch']">Switch Statement</button>
</mat-menu>

<mat-menu #menuControlFlow="matMenu">
  <button mat-menu-item [routerLink]="['/control-flow/if']">If Condition</button>
  <button mat-menu-item [routerLink]="['/control-flow/switch']">Switch Statement</button>
</mat-menu>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
